In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
## Loading the dataset
df=pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

#### Preprocess the  data

In [3]:
# Droping the irrelevent columns
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
## Onehot encode 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [6]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
## Combine one hot encoder columns with the original data
df=pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
## Save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [10]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
## DiVide the dataset into indepent and dependent features
X=df.drop('Exited',axis=1)
y=df['Exited']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [13]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [14]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

### ANN Implementation

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [ ]:
X_train.shape[1]   # no.of features in X_train

12

In [21]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
]

)

Input layer with 12 features  
Hidden layer 1 with 64 Neuron  
Hidden layer 2 with 32 Neuron  
output layer with 1 output

In [22]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)    # Adam is a type of optimizer
loss=tensorflow.keras.losses.BinaryCrossentropy()    # BinaryCrossentropy is a type of loss function

In [25]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [26]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

1.Callbacks are tools that monitor training.  
2.EarlyStopping → stops training early if no improvement.  
3.TensorBoard → helps visualize training (loss,accuracy,weights).

In [29]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [30]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 8ms/step - loss: 0.3252 - accuracy: 0.8668 - val_loss: 0.3478 - val_accuracy: 0.8600
Epoch 2/100
250/250 [==============================] - 3s 10ms/step - loss: 0.3251 - accuracy: 0.8662 - val_loss: 0.3438 - val_accuracy: 0.8645
Epoch 3/100
250/250 [==============================] - 3s 11ms/step - loss: 0.3196 - accuracy: 0.8689 - val_loss: 0.3462 - val_accuracy: 0.8595
Epoch 4/100
250/250 [==============================] - 3s 10ms/step - loss: 0.3186 - accuracy: 0.8708 - val_loss: 0.3476 - val_accuracy: 0.8635
Epoch 5/100
250/250 [==============================] - 2s 10ms/step - loss: 0.3151 - accuracy: 0.8709 - val_loss: 0.3409 - val_accuracy: 0.8655
Epoch 6/100
250/250 [==============================] - 3s 11ms/step - loss: 0.3126 - accuracy: 0.8714 - val_loss: 0.3435 - val_accuracy: 0.8590
Epoch 7/100
250/250 [==============================] - 3s 14ms/step - loss: 0.3122 - accuracy: 0.8726 - val_loss: 0.3516 - val_accuracy: 0.8640
Epoch 8/100
250/250 [==============================] - 2s 10ms/step - loss: 0.3098 - accuracy: 0.8705 - val_loss: 0.3427 - val_accuracy: 0.8665
Epoch 9/100
250/250 [==============================] - 3s 10ms/step - loss: 0.3057 - accuracy: 0.8729 - val_loss: 0.3455 - val_accuracy: 0.8665
Epoch 10/100
250/250 [==============================] - 3s 11ms/step - loss: 0.3042 - accuracy: 0.8731 - val_loss: 0.3545 - val_accuracy: 0.8700
Epoch 11/100
250/250 [==============================] - 3s 12ms/step - loss: 0.3039 - accuracy: 0.8763 - val_loss: 0.3543 - val_accuracy: 0.8640
Epoch 12/100
250/250 [==============================] - 3s 11ms/step - loss: 0.2989 - accuracy: 0.8771 - val_loss: 0.3377 - val_accuracy: 0.8630
Epoch 13/100
250/250 [==============================] - 3s 12ms/step - loss: 0.2967 - accuracy: 0.8758 - val_loss: 0.3554 - val_accuracy: 0.8630
Epoch 14/100
250/250 [==============================] - 3s 12ms/step - loss: 0.2954 - accuracy: 0.8790 - val_loss: 0.3589 - val_accuracy: 0.8635
Epoch 15/100
250/250 [==============================] - 3s 12ms/step - loss: 0.2926 - accuracy: 0.8779 - val_loss: 0.3573 - val_accuracy: 0.8570
Epoch 16/100
250/250 [==============================] - 2s 10ms/step - loss: 0.2921 - accuracy: 0.8781 - val_loss: 0.3600 - val_accuracy: 0.8640
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2911 - accuracy: 0.8771 - val_loss: 0.3724 - val_accuracy: 0.8630
Epoch 18/100
250/250 [==============================] - 1s 6ms/step - loss: 0.2865 - accuracy: 0.8805 - val_loss: 0.3707 - val_accuracy: 0.8570
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2835 - accuracy: 0.8821 - val_loss: 0.3772 - val_accuracy: 0.8625
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2828 - accuracy: 0.8804 - val_loss: 0.3889 - val_accuracy: 0.8560
Epoch 21/100
250/250 [==============================] - 2s 7ms/step - loss: 0.2817 - accuracy: 0.8800 - val_loss: 0.3699 - val_accuracy: 0.8600
Epoch 22/100
250/250 [==============================] - 2s 6ms/step - loss: 0.2738 - accuracy: 0.8855 - val_loss: 0.3898 - val_accuracy: 0.8570

In [31]:
model.save('model.h5')  # h5 file is more compatible with Keras than pickle file

d:\Data Science with ML\ANN classification\venv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [32]:
## Load Tensorboard Extension
%load_ext tensorboard

In [34]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 16928), started 0:06:52 ago. (Use '!kill 16928' to kill it.)

In [ ]:
## Load the pickle file 
# To do Streamlit we require pickle files