In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Preprocess the data
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

In [6]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
# Combine one-hot encoded columns with original data
data = pd.concat([df.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [10]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

### ANN Regression Implementation

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From d:\Data Science with ML\ANN classification\venv\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [14]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\Data Science with ML\ANN classification\venv\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\Data Science with ML\ANN classification\venv\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\Data Science with ML\ANN classification\venv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Data Science with ML\ANN classification\venv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 5ms/step - loss: 100363.6328 - mae: 100363.6328 - val_loss: 98466.8438 - val_mae: 98466.8438
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99450.8125 - mae: 99450.8125 - val_loss: 96628.8828 - val_mae: 96628.8828
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 96290.8984 - mae: 96290.8984 - val_loss: 92015.4844 - val_mae: 92015.4844
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 90170.8203 - mae: 90170.8203 - val_loss: 84483.0000 - val_mae: 84483.0000
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 81434.8125 - mae: 81434.8125 - val_loss: 75026.7266 - val_mae: 75026.7266
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 71651.9219 - mae: 71651.9219 - val_loss: 65882.0391 - val_mae: 65882.0391
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 62855.4570 - mae: 62855.4570 - val_loss: 58546.7773 - val_mae: 58546.7773
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 56514.3945 - mae: 56514.3945 - val_loss: 53953.4961 - val_mae: 53953.4961
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 52875.4570 - mae: 52875.4570 - val_loss: 51758.7891 - val_mae: 51758.7891
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 51172.9062 - mae: 51172.9062 - val_loss: 51033.5898 - val_mae: 51033.5898
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50518.4648 - mae: 50518.4648 - val_loss: 50771.5352 - val_mae: 50771.5352
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50265.0273 - mae: 50265.0273 - val_loss: 50677.0938 - val_mae: 50677.0938
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50134.8555 - mae: 50134.8555 - val_loss: 50637.6445 - val_mae: 50637.6445
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50057.2734 - mae: 50057.2734 - val_loss: 50603.5938 - val_mae: 50603.5938
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 50003.2344 - mae: 50003.2344 - val_loss: 50561.1914 - val_mae: 50561.1914
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 49952.8945 - mae: 49952.8945 - val_loss: 50535.3047 - val_mae: 50535.3047
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 49913.3516 - mae: 49913.3516 - val_loss: 50501.1094 - val_mae: 50501.1094
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 49876.2070 - mae: 49876.2070 - val_loss: 50477.0664 - val_mae: 50477.0664
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 49846.0742 - mae: 49846.0742 - val_loss: 50472.0273 - val_mae: 50472.0273
Epoch 20/100
250/250 [==============================] - 1s 6ms/step - loss: 49817.4531 - mae: 49817.4531 - val_loss: 50451.0977 - val_mae: 50451.0977
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 49794.5586 - mae: 49794.5586 - val_loss: 50439.7891 - val_mae: 50439.7891
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49774.0703 - mae: 49774.0703 - val_loss: 50412.6055 - val_mae: 50412.6055
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49752.4531 - mae: 49752.4531 - val_loss: 50400.1328 - val_mae: 50400.1328
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49734.9375 - mae: 49734.9375 - val_loss: 50396.1680 - val_mae: 50396.1680
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49715.2852 - mae: 49715.2852 - val_loss: 50391.4492 - val_mae: 50391.4492
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49699.7344 - mae: 49699.7344 - val_loss: 50383.4414 - val_mae: 50383.4414
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49686.4727 - mae: 49686.4727 - val_loss: 50386.5664 - val_mae: 50386.5664
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49668.5391 - mae: 49668.5391 - val_loss: 50370.8594 - val_mae: 50370.8594
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49656.0273 - mae: 49656.0273 - val_loss: 50365.9609 - val_mae: 50365.9609
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49639.1797 - mae: 49639.1797 - val_loss: 50356.8945 - val_mae: 50356.8945
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49627.2539 - mae: 49627.2539 - val_loss: 50349.7773 - val_mae: 50349.7773
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49615.7266 - mae: 49615.7266 - val_loss: 50347.3711 - val_mae: 50347.3711
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49603.6914 - mae: 49603.6914 - val_loss: 50344.0078 - val_mae: 50344.0078
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49593.7969 - mae: 49593.7969 - val_loss: 50336.0781 - val_mae: 50336.0781
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49580.4414 - mae: 49580.4414 - val_loss: 50334.0195 - val_mae: 50334.0195
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49569.9648 - mae: 49569.9648 - val_loss: 50324.0273 - val_mae: 50324.0273
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49559.8203 - mae: 49559.8203 - val_loss: 50328.1914 - val_mae: 50328.1914
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49551.5469 - mae: 49551.5469 - val_loss: 50340.7539 - val_mae: 50340.7539
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49542.0703 - mae: 49542.0703 - val_loss: 50334.2969 - val_mae: 50334.2969
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49531.1758 - mae: 49531.1758 - val_loss: 50328.3047 - val_mae: 50328.3047
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49524.4727 - mae: 49524.4727 - val_loss: 50324.5781 - val_mae: 50324.5781
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 49519.6445 - mae: 49519.6445 - val_loss: 50315.7266 - val_mae: 50315.7266
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 49508.3008 - mae: 49508.3008 - val_loss: 50318.9648 - val_mae: 50318.9648
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 49500.9844 - mae: 49500.9844 - val_loss: 50332.1641 - val_mae: 50332.1641
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49493.4336 - mae: 49493.4336 - val_loss: 50327.5430 - val_mae: 50327.5430
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49486.1836 - mae: 49486.1836 - val_loss: 50321.8242 - val_mae: 50321.8242
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 49478.7812 - mae: 49478.7812 - val_loss: 50322.0625 - val_mae: 50322.0625
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49477.8711 - mae: 49477.8711 - val_loss: 50320.5781 - val_mae: 50320.5781
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49465.9453 - mae: 49465.9453 - val_loss: 50336.6445 - val_mae: 50336.6445
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49462.0703 - mae: 49462.0703 - val_loss: 50325.6758 - val_mae: 50325.6758
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 49458.1562 - mae: 49458.1562 - val_loss: 50326.2305 - val_mae: 50326.2305
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49448.7305 - mae: 49448.7305 - val_loss: 50333.0977 - val_mae: 50333.0977

In [20]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 36216), started 0:01:38 ago. (Use '!kill 36216' to kill it.)

In [22]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 971us/step - loss: 50315.7266 - mae: 50315.7266
Test MAE : 50315.7265625

In [23]:
model.save('regression_model.h5')

d:\Data Science with ML\ANN classification\venv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(